@charset "utf-8";

@font-face {
    font-family: Almarai;
    src: url(Almarai-Regular.woff) format('woff'),
         url(Almarai-Regular.ttf) format('ttf');
}

/*
    Chasma Pasal Style Sheet
    Author: Fusion
    Date: 03/20/2023

    Filename: cpg_style.css
*/

/* HTML and Body Styles */
html{
    background-color: rgb(243, 250, 255);
    font-family: Urbanist, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    color: rgb(1, 62, 61);
    background-color: rgb(243, 250, 255);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body > header > img{
    display: block;
    width: 150px;
}

/* Nav Styles*/
nav{
    text-align: center;
}

/* Horizontal Nav Style */
.horizontalNav ul{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: center;
    background-color: rgb(243, 250, 255);
    padding: 0px;
    margin: 0px;
}
.horizontalNav li{
    font-size: 1.3em;
    line-height: 1.2em;
    border-bottom: 3px solid transparent;
    margin: 5px;
    padding-top: 10px;
}
.horizontalNav ul li ul{
    display: none;
}
.horizontalNav ul li:hover ul,
.horizontalNav ul li.hover ul{
    display: block;
}
.horizontalNav ul ul li{
    clear: left;
    width: 215px;
    height: 25px;
    font-size: 0.9em;
}

/* Nav style to blur background */
.horizontalNav a{
    background:rgb(243, 250, 255);
    color: rgb(1, 62, 61);
    display: block;
    padding: 10px 10px;
}

/* nav a{
    position: relative;
    color: rgb(243, 250, 255);
    text-decoration: none;
}*/
/* a:hover::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 0;
} */

.horizontalNav:hover a{
    opacity: 0.5;
    backdrop-filter: blur(5px);
    transform: scale(0.98);
}
.horizontalNav:hover a:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}
/* blur background ends*/

.horizontalNav ul ul li a:hover{
    color: rgb(1, 62, 61);
    border-bottom: 3px solid rgb(255, 136, 57);
}
.horizontalNav ul ul{
    position: relative;
}
.horizontalNav ul li a.active{
    border-bottom: 3px solid rgb(255, 136, 57);
}
.horizontalNav li a{
    background-color: rgb(243, 250, 255);
    display: block;
    text-decoration: none;
}
.horizontalNav a:visited{
    color: rgb(1, 62, 61);
}
/* Horizontal Nav style ends */

/* Styles for ul within the website */
ul{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}
li{
    font-size: 1.3em;
    float: left;
    width: 230px;
    height: 50px;
    line-height: 1.2em;
    text-align: center;
    border-bottom: 3px solid transparent;
    margin: 5px;
    padding: 5px;
}
ul li ul{
    display: none;
}
ul li:hover ul,
ul li.hover ul{
    display: block;
}
ul ul li{
    clear: left;
    width: 200px;
    height: 25px;
    font-size: 0.9em;
}
ul ul{
    position: absolute;
}
ul li a:hover{
    color: rgb(1, 62, 61);
    border-bottom: 3px solid rgb(255, 136, 57);
}
ul li a.active{
    border-bottom: 3px solid rgb(255, 136, 57);
}
li a{
    background-color: rgb(243, 250, 255);
    display: block;
    text-decoration: none;
}
a:visited{
    color: rgb(1, 62, 61);
}
/* List style ends here */

/* Container Styles*/
.container{
    display: grid;
    position: inherit;
    grid-template-rows: auto;
    grid-template-columns: 500px 600px;
    row-gap: 50px;
    column-gap: 90px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 90%;
}
img{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    width: 80%;
}
h2{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    color: rgb(255, 136, 57);
    font-family: Urbanist Bold;
    font-size: 2em;
    line-height: 1.5em;
}
h4{
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Container2 Styles */
.container2{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 500px 500px;
    align-items: center;
    justify-content: center;
    padding: 70px 90px;
    width: 90%;
    grid-column-gap: 150px;
}
.container2 img{
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    width: 80%;
}
.container2 h2{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    color: rgb(255, 136, 57);
    font-family: Urbanist Bold;
    font-size: 2em;
    line-height: 1.2em;
}
.container2 h4{
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    font-size: 1.5em;
    line-height: 1.2em;
}

/* Bestseller styles */
.bestseller{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px 250px 250px 250px;
    row-gap: 10px;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bestseller h1{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    color: rgb(255, 136, 57);
    font-family: Urbanist Bold;
    font-size: 30px;
    text-align: center;
}
.best-pic img{
    grid-row: 2 / 1;
    grid-column: 1 / 4;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.bestseller ul{
    grid-row: 4 / 4;
    grid-column: 1 / 5;
    justify-content: center;
}

/* Glass-style Styles */
.styles{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 500px 500px;
    row-gap: 10px;
    column-gap: 120px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.styles h1{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: rgb(255, 136, 57);
    font-family: Urbanist Bold;
    font-size: 30px;
    text-align: center;
}
.styles h3{
    font-family: Urbanist Bold;
    font-size: 20px;
    text-align: center;
}
.styles img{
    width: 80%;
    margin: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.style-pic img{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.styles ul{
    grid-row: 4 / 4;
    grid-column: 1 / 3;
    justify-content: center;
}

/* Question Style */
.questions{
    background-color: rgba(96, 167, 218, 0.3);
    text-align: center;
}
.questions h2{
    color: rgb(0, 0, 0);
}
.questions h4{
    font-size: 20px;
}

/* Payment stylesheet */
form#payment {
    background-color: rgba(243, 250, 255, 0.1);
}

fieldset {
    border: none;
}

legend {
    background-color: rgba(1, 62, 61, 0.7);
    color: rgba(243, 250, 255, 0.9);
    font-size: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}

/* Input and Label Styles */

label {
    display: block;
    float: left;
    clear: left;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 180px;
    text-align: right;
}

form#payment input, form#payment select {
    display: block;
    float: left;
    width: 50%;
}

/* Radio Button Styles */

label.cardLabel {
    display: inline-block;
    float: none;
    width: auto;
}

label.cardLabel img {
    border: 1px solid rgb(243, 250, 255);
    box-shadow: rgb(30, 37, 56) 0px 0px 10px;
}

input[type='radio'] {
    width: auto;
    float: none;
    clear: none;
    margin-right: 15px;
}

/* Submit Button Styles */

button {
    background: transparent;
    border: none;
    display: block;
    margin: 5px auto;
}
button img{
   width: 30%;
   height: 30%;
}

ul, ol {
    list-style: none;
}

nav ul {
    list-style: none;
    list-style-image: none;
}

nav a {
    text-decoration: none;
}

article, aside, figcaption, figure,
footer, header, main, nav, section { 
    display: block;
}

a#navicon {
    display: none;
}

section form {
    -webkit-flex: 3 1 4800px;
    flex: 3 1 480px;
    margin-top: 25px;
    margin-right: 20px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Styles */

footer{
    background-color: rgba(96, 167, 218, 0.3);
    clear: left;
}
 
footer::after{
    clear: both;
    content: "";
    display: table;
}
 
footer > .verticalNav{
    float: left;
    width: 22%;
}
 
footer > .contactInfo{
    float: left;
    width: 34%; 
}

/* Vertical Nav Styles */
.verticalNav h1{
    justify-content: left;
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

.verticalNav ul {
    margin-left: 1em;
    line-height: 0em;
    display: list-item;
    padding: 0;
    font-size: 12px;
    text-align: left;
    justify-content: left;
}

.verticalNav img{
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
}
.verticalNav a{
    display: flex;
    align-items: center;
    justify-content: left;
}

.verticalNav a:link, 
.verticalNav a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
}
 
.verticalNav a:hover, 
.verticalNav a:active {
    color: rgb(255, 136, 57);
    text-decoration: underline;
    border-bottom: none;
}
 
 /* Contact Info Styles */
 .contactInfo h1{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.contactInfo ul {
    display: flex;
    line-height: 0.4em;
    margin: 0;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}   
.contactInfo li{
    align-items: center;
    justify-content: center;
}
.contactInfo a:link, 
.contactInfo a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
}
 
.contactInfo a:hover, 
.contactInfo a:active {
    color: rgb(255, 136, 57);
    text-decoration: underline;
    border-bottom: none;
}
/* Footer Style ends here */

p.credits{
    font-size: 20px;
}